/* * {
  border: dashed 1px red;
} */

body {
  margin: 0;
}

.wrapper {
  width: 80%;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo,
.menu {
  display: inline-block;
}

.logo {
  position: relative;
  padding: 40px 0;
  padding-left: 44px;
  font: bold 24px/32px 'pt_serifbold', Georgia, serif;
}

.logo__circle {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: 0.7;
}

.logo__circle_color_dark-blue {
  background: #0056ec;
}

.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #c8dbfb;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  position: relative;
  margin-right: 26px;
  font: 18px/21px 'robotomedium', Arial, Helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity 0.5s;
}

.menu__item::after {
  position: absolute;
  display: block;
  content: '';
  left: 50%;
  width: 0;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: all 0.5s;
}

.menu__item:hover {
  opacity: 0.5;
}

.menu__item:hover::after {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: 100%;
  height: 3px;
  background: #0056EC;
}

.menu__item_active::after {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: 100%;
  height: 3px;
  background: #0056EC;
}

.menu__item:hover::after,
.menu__item_active::after {
  opacity: 1;
  width: 100%;
}

.menu__item:last-child {
  margin-right: 0;
}

.main-content__title {
  font-family: 'pt_serifbold', Georgia, serif;
}

.main-content__description,
.main-content__button {
  font-family: 'robotoregular', Arial, Helvetica, sans-serif;
}
