.menu__item {
  font-family: 'Roboto', sans-serif;
}

.logo {
  font-family: 'PT Serif', serif;
  font-weight: bold;
}

.main-content__title {
  font-family: 'PT Serif', serif;
}

.main-content__description {
  font-family: 'Roboto', sans-serif;
}

.main-content__button {
  font-family: 'Roboto', sans-serif;
}
