body {
  margin: 0;
}

.wrapper {
  margin: auto;
  width: 80%;
  max-height: 1080px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 130px;
  padding-left: 4px;
}

.logo,
.menu {
  display: inline-block;
}

.logo {
  position: relative;
  padding: 40px 0 40px 44px;
  font: bold 24px/32px 'pt_serifbold', Georgia, serif;
}

.logo__circle {
  position: absolute;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: 0.7;
}

.logo__circle_color_dark-blue {
  left: 0;
  top: 50%;
  background: #0056ec;
}

.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #c8dbfb;
}

.menu {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.menu__item {
  position: relative;
  margin-right: 25px;
  font: 18px/21px 'robotomedium', Arial, Helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity 0.5s;
}

.menu__item::after {
  position: absolute;
  display: block;
  content: '';
  bottom: -4px;
  left: 50%;
  width: 0;
  height: 3px;
  background: #0056ec;
  opacity: 0;
  transition: all 0.5s;
}

.menu__item:hover {
  opacity: 0.5;
}

.menu__item:hover::after {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: 100%;
  height: 3px;
  background: #0056ec;
}

.menu__item_active::after {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: 100%;
  height: 3px;
  background: #0056ec;
}

.menu__item:hover::after,
.menu__item_active::after {
  opacity: 1;
  width: 100%;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item:nth-child(3) {
  margin-right: 28px;
}

.menu__item:nth-child(4) {
  margin-right: 27px;
}

.main {
  padding: 0 0 268px 3px;
  margin-right: 5px;
  background: top right no-repeat url(./img/mainimg.svg);
}

.main__title {
  max-width: 567px;
  margin: 0 0 36px 0;
  padding-top: 74px;
  font: 66px/87px 'pt_serifbold', Georgia, serif;
  animation: 1.5s main__title_slidein alternate;
}

@keyframes main__title_slidein {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.main__title-text_highlight {
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 15%, #ecf3ff 15%);
}

.main__subtitle {
  max-width: 455px;
  margin: 0 0 42px 0;
  font: 22px/26px 'robotoregular', Arial, Helvetica, sans-serif;
  animation: 3s main__subtitle_transparency;
}

@keyframes main__subtitle_transparency {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.main__button {
  display: inline-block;
  font: 18px/21px 'robotomedium', Arial, Helvetica, sans-serif;
  color: #fff;
  background: #0056ec;
  padding: 18px 34px 18px 23px;
  border-radius: 4px;
  text-decoration: none;
  transition: 0.5s;
}

.main__button:hover {
  opacity: 0.5;
}

.ellipse {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.ellipse__item {
  margin-right: 4px;
  width: 8px;
  height: 8px;
  background: #c8dbfb;
  border-radius: 50%;
  opacity: 0.7;
}

.ellipse__item:last-child {
  margin-right: 0;
}

.menu__burger {
  display: none;
}

#menu__toggle {
  display: none;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 27px;
  right: 6.2%;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background: #0056ec;
  transition-duration: 0.25s;
}

.menu__btn > span::before {
  content: '';
  top: -7px;
}

.menu__btn > span::after {
  content: '';
  top: 7px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  left: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 172px 0;
  list-style: none;
  text-align: center;
  background-color: #fff;
  transition-duration: 0.25s;
}

.menu__box-item {
  display: block;
  padding: 12.5px 24px 12.5px 20px;
  color: #000;
  font: 30px/35px 'robotomedium', Arial, Helvetica, sans-serif;
  text-decoration: none;
  transition-duration: 0.25s;
}

.menu__box-item:hover {
  background-color: #fff;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

@media (max-width: 1590px) {
  .main {
    background: top right/53% no-repeat url(./img/mainimg.svg);
  }
}

@media (max-width: 1366px) {
  .wrapper {
    width: 68%;
    max-height: 768px;
  }

  .header {
    padding-left: 0;
    margin-bottom: 84px;
  }

  .menu {
    margin-right: 4px;
    padding-top: 5px;
  }

  .menu__item {
    font: 14px/16px 'robotomedium', Arial, Helvetica, sans-serif;
  }

  .main {
    background: top right/55% no-repeat url(./img/mainimg.svg);
    margin-right: 0;
    padding: 0 50% 147px 0;
  }

  .main__title {
    max-width: 434px;
    font: 50px/65px 'pt_serifbold', Georgia, serif;
    padding-top: 17px;
    margin: 0 0 39px 0;
  }

  .main__subtitle {
    max-width: 367px;
    font: 18.2px/21px 'robotoregular', Arial, Helvetica, sans-serif;
  }
  
  .main__button {
    font: 14px/16px 'robotomedium', Arial, Helvetica, sans-serif;
    padding: 14px 25px 14px 16px;
  }

  .ellipse {
    margin-bottom: 38px;
  }
}

@media (max-width: 1205px) {
  .wrapper {
    width: 91%;
  }

  .main {
    background: top right/47% no-repeat url(./img/mainimg.svg);
  }
}

@media (max-width: 1025px) {
  .menu {
    margin-right: 0;
  }
  
  .main {
    background: top right/55% no-repeat url(./img/mainimg.svg);
    margin-right: 1px;
  }
}

@media (max-width: 920px) {
  .main__title {
    font: 40px/53px 'pt_serifbold', Georgia, serif;
  }

  .main__subtitle {
    font: 17px/20px 'robotoregular', Arial, Helvetica, sans-serif;
  }

  .ellipse {
    display: none;
  }
}

@media (max-width: 769px) {
  .wrapper {
    max-height: 1024px;
  }
  
  .header {
    margin-bottom: 25px;
  }

  .logo__text {
    display: none;
  }

  .menu {
    display: none;
  }

  .menu__burger {
    display: block;
  }

  .logo {
    padding-left: 0;
  }

  .menu__box {
    padding: 325px 0;
  }

  .main {
    background: top center/75% no-repeat url(./img/mainimg.svg);
    padding: 73% 0 0 0;
    text-align: center;
  }

  .main__title {
    width: 85%;
    margin: 0 auto 32px auto;
    padding-top: 0;
  }

  .main__subtitle {
    margin: 0 auto 30px auto;
    width: 68%;
  }
}

@media (max-width: 576px) {
  .menu__box {
    padding: 325px 0;
  }
  
  .main {
    background: top center/86% no-repeat url(./img/mainimg.svg);
    padding: 79% 0 0 0;
    text-align: center;
  }

  .main__title {
    font: 30px/40px 'pt_serifbold', Georgia, serif;
    margin: 0 auto 32px auto;
    width: 68%;
  }
  
  .main__subtitle {
    font: 16px/19px 'robotoregular', Arial, Helvetica, sans-serif;
    margin: 0 auto 25px auto;
    width: 68%;
  }
  
  .main__button {
    font: 14px/16px 'robotomedium', Arial, Helvetica, sans-serif;
    padding: 14px 24px 14px 17px;
  }
}

@media (max-width: 376px) {
  .wrapper {
    width: 87%;
    height: 667px;
  }

  .header {
    margin-bottom: 7px;
  }

  .menu__box {
    padding: 46% 0;
  }

  .main__title {
    padding: 1px 0 0 5px;
    width: auto;
  }
  
  .main__subtitle {
    width: 72%;
    padding-left: 5px;
  }
  
  .main__button {
    width: auto;
  }
}

@media (max-width: 321px) {
  .header {
    margin-bottom: 5px;
  }

  .wrapper {
    height: 568px;
  }

  .main {
    background: top center/65% no-repeat url(./img/mainimg.svg);
    padding: 60% 0 0 0;
  }

  .main__title {
    margin: 0 auto 22px auto;
  }

  .menu__box {
    padding: 40% 0;
  }
}
